body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    color: black;
}
.topnav {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 3px;
    background-color: #FFFFFF;
    color: #111111;
    position: fixed;
    top: 0px;
    left: 0px;
}
ul {
    list-style: none;
    margin: 1px;
    padding: 5px;
    overflow: hidden;
}
li {
    float: left;
}
li a {
    display: block;
    text-align: center;
    padding: 6px;
    text-decoration: none;
}
footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px;
    background-color: #EEEEEE;
    color: #CCCCCC;
}
button {
    height: 40px;
    width: 140px;
    margin: 0px;
    border: 0px;
    border-radius: 5px;
    transition-duration: 2ms;
    color: grey;
}
button:hover {
    color: black;
    margin: 0px;
}
.logo {
    margin-top: 11%;
}
input {
    background-image: url("https://static.thenounproject.com/png/101791-200.png") top;
    width: 570px;
    height: 35px;
    font-size: 17px;
    border-radius: 20px;
    border-color: rgba(220, 220, 220, 0.7)
}
ul .left {
  display: flex;
  justify-content: space-evenly;
}
ul .right {
    display: flex;
    justify-content: space-evenly;
}